.example-card {
  max-width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-list-item {
  font-size: 12px;

}

#done {
  background-color:#449d44;

}

#done_all{
  background-color: #d9534f;
}

#airline_logo {
  width: 100px;
}
#cell {
  background-color: #449d44;
}
