<mat-toolbar color="primary">
    Angular Material 2 App
  </mat-toolbar>
  <div class="basic-containet">
    <mat-toolbar>
      <div fxLayoutAlign="start stretch" fxLayoutGap="8px">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <p>
      <button mat-button>Basic Button</button>
      <mat-slide-toggle>Slide Toggle</mat-slide-toggle>
    </p>
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <mat-divider class="style-fix" [vertical]="true"></mat-divider>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    <span class="version-info">Current build: {{version.full}}</span>
  </div>

  <!--
  Copyright Google LLC All Rights Reserved.

  Use of this source code is governed by an MIT-style license that can be
  found in the LICENSE file at https://angular.io/license
  -->
