<mat-sidenav-container fullscreen [class.m2app-dark]="isDarkTheme">

  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <mat-toolbar>
      <img alt="شركة مطارات الرياض" height="52" src="https://www.riyadhairports.com/media/1005/logo.svg">
      <mat-divider></mat-divider>
      <mat-toolbar-row>
        <mat-icon class="example-icon">account_circle</mat-icon>
        <span>Account</span>
        <span class="app-toolbar-filler"></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="app-button mat-raised-button mat-primary">
          <mat-icon class="example-icon">verified_user</mat-icon>
          Login
        </button>
      </mat-toolbar-row>
      <!-- <mat-toolbar-row>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Employee Name</mat-card-title>
            <mat-card-subtitle>Job Title</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              some contents
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" class="app-sidebar-button">
              <mat-icon class="example-icon">verified_user</mat-icon>
              Logout
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-toolbar-row> -->
      <mat-toolbar-row>
        <mat-icon class="example-icon">flights</mat-icon>
        <span>Flights</span>
        <span class="app-toolbar-filler"></span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="app-sidebar-button">
          <mat-icon class="example-icon">flight_land</mat-icon>
          Arrival
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="app-sidebar-button">
          <mat-icon class="example-icon">flight_takeoff</mat-icon>
          Departure
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <mat-icon class="example-icon">build</mat-icon>
        <span>Settings</span>
        <span class="app-toolbar-filler"></span>

      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button (click)="isDarkTheme = !isDarkTheme" class="app-sidebar-button">TOGGLE THEME</button>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">My App</span>
  </mat-toolbar>

  <div class="app-content">
<app-flight-item></app-flight-item>
  </div>

</mat-sidenav-container>
